<a class="poster-anchor { selected : active }" href="/show/{ id }">
  <img class="poster" src="{ imgUrl }">
  <h4>{ title }</h4>
</a>

<p if="{ active }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem officiis, provident doloremque cumque fugiat placeat a earum, eius, non, hic exercitationem incidunt. Ipsum laboriosam eius maiores optio architecto quas sit.</p>

<style>

  poster {
    width: 150px;
  }

  .poster{
    width: 150px;
    height: 190px;
    border: 2px solid grey;
  }

  .poster-anchor:link {
    text-decoration: none;
    color: black;
  }

  .poster-anchor:hover h4 {
    color: red;
  }

  .poster-anchor.selected img {
    border: 4px solid red;
  }
</style>